.row-fluid.box.app
	.title.yellow
		i.icomoon-connection
		h3 connect linkedin

	.body
		.connect.loadActions(data-action='connectlinkedin', data-target='.connect')
		.row-fluid
			p.lead connecting people
		.row-fluid
			.span5
				.place_left1	
			.span3	
				.row-fluid
					.span10
						img(src="./static/img/logo.png")
			.span4
				.place_right1			
		.row-fluid
			.span2
			.span10	
				.row-fluid
					.span3
						img.shape1(src="./static/img/default.png",id="tag-img1")
					.span4
						.connectcheck1
					.span3
						img.shape1(src="./static/img/default.png",id="tag-img2")
		.row-fluid
			.span2
			.span10	
				.row-fluid
					.span3.text
						p.text1 Guest
					.span4
					.span3.text
						p.text2 Guest

