.row-fluid.box.app
	.title.yellow
		.options

	.body
		.row-fluid
			p.lead Rate our Services
			.green.loadActions(data-action='getFeedback', data-target='#feedback')#feedback
				.row-fluid
					img.smiley(src='./static/img/feedback/1.png')
					img.smiley(src='./static/img/feedback/2.png')
					img.smiley(src='./static/img/feedback/3.png')
					img.smiley(src='./static/img/feedback/4.png')
					img.smiley(src='./static/img/feedback/5.png')
				.container-fluid(style='margin-top:30px; margin-left:30px;')
					.row-fluid
						.span2
							label Extremely Unsatisfied
						.span2(style='margin-left:50px;')
							label Unsatisfied
						.span2(style='margin-left:50px;')
							label Neutral
						.span2(style='margin-left:50px;')
							label Satisfied
						.span2(style='margin-left:30px;')
							label Extremely Satisfied

				.container-fluid(style='margin-top:10px; margin-left:50px;')
					.row-fluid
						.span2
							input.inp(type='radio', name='radio', value='1')
						.span2(style='margin-left:50px;')
							input.inp(type='radio', name='radio', value='2')
						.span2(style='margin-left:50px;')
							input.inp(type='radio', name='radio', value='3')
						.span2(style='margin-left:50px;')
							input.inp(type='radio', name='radio', value='4')
						.span2(style='margin-left:50px;')
							input.inp(type='radio', name='radio', value='5')