.row-fluid.box.app
	.title.purple
		.head.pull-left
			i.icomoon-diamonds
			h3 Horoscope
	.body
		.row-fluid
			p.lead See your own Horoscope here
		.row-fluid	
			.span12
				.Fortune.loadActions(data-action='getHoroscope', data-target='.Fortune')
					.welcomename
						p#horousername
						.span1#userimg      
					.sunsignnameandimg
						p.horotext
						img#sunsign.hide
					.horotextdiv
						p.horo