extends layout


//-block background
	.background.bg1
block menu 
	mixin _menu('normal')


block content

	.row-fluid
		.span3
			.row-fluid.box.main
				.title.tb.purple
					i.icomoon-tagbin
					h3 tagBin
				.body
					dl.dl-horizontal
						dt Status: 
						dd OK
				.footer.needy Swipe
			
		.span9
			.row-fluid.app-content
				.row-fluid.box.app
					.title.yellow
						i.icomoon-stats
						h3 Stats


