extends layout

block menu 
	mixin _menu('normal')


block overlay
	.loading
		.tb-loader
			i.icomoon-tagbin.anim
		.k-contain#canvasworld
		ul.loader-menu.hide._blur
			li
				a.btn-hex.purple(href='like-post.html')
					.container-fluid
						.row-fluid
							i.icomoon-thumbs-up
							div Like Post
					.title Like
			li
				a.btn-hex.green(href='pic-upload.html')
					.container-fluid
						.row-fluid
							i.icomoon-image
							div Pic-Upload
					.title Pic-Upload
			li
				a.btn-hex.red(href='share.html')
					.container-fluid
						.row-fluid
							i.entypo-export
							div Share Post
					.title Share
			li
				a.btn-hex.blue(href='status-post.html')
					.container-fluid
						.row-fluid
							i.entypo-vcard
							div Check-in
					.title Post Check-in
			li
				a.btn-hex.orange(href='tagplay.html')
					.container-fluid
						.row-fluid
							i.icomoon-music
							div tagPlay
					.title tagPlay
			li
				a.btn-hex.dark_green(href='tweet.html')
					.container-fluid
						.row-fluid
							i.icomoon-blog
							div Retweet
					.title ReTweet
			li
				a.btn-hex.yellow(href='leaderboard.html')
					.container-fluid
						.row-fluid
							i.icomoon-dashboard
							div LeaderBoard
					.title LeaderBoard
			li
				a.btn-hex.pink(href='match_finder.html')
					.container-fluid
						.row-fluid
							i.icomoon-heart
							div Friend Finder
					.title Friend Finder
			li
				a.btn-hex.color1(href='connect.html')
					.container-fluid
						.row-fluid
							i.icomoon-connection
							div Connect
					.title LinkedIn Connect
			li
				a.btn-hex.brown(href='feedback.html')
					.container-fluid
						.row-fluid
							i.icomoon-feed-2
							div Feedback
					.title Feedback
			li
				a.btn-hex.color2(href='fortune.html')
					.container-fluid
						.row-fluid
							i.icomoon-dice
							div Horoscope
					.title Horoscope

			.blur

		.hide.swipe_notification.pulsed Swipe your Tag

block content

	.row-fluid
		.span3
			.row-fluid.main-page-title
				ul
					li.first.active 
						i.pageicon.entypo-thumbs-up
						span.name Like Posts 
					li.second
					li.third
					li.fourth
			.row-fluid.box.main
				.main-userpic-wrap
					.userpic
						img(src='')
					.username 
			.row-fluid.box._bottom
				ul.notif.actions
					li.action.success Swipe to Like

			.row-fluid.box.bottom
				.title.green
					h3 
						i.icomoon-lightning
						| Notifications
				ul.actionlist.unstyled
			
		.span9
			.row-fluid.app-content
				.row-fluid.box.app
					.title.yellow
						i.icomoon-stats
						h3 Stats
