head
	script(src='static/js/jqury-1.9.1.min.js')
	script(src='static/js/leaderboard/knckout-2.2.1.js')
	script(src='static/js/leaderboard/globalize.js')
	script(src='static/js/leaderboard/dx.chartjs.js')

.row-fluid.box.app
	.title.yellow
		i.icomoon-dashboard
		h3 leaderboard

	.body
		.row-fluid.loadActions(data-action='getGraph', data-target='#chartContainer')
			#chartContainer