.row-fluid.box.app
	.title.purple
		
		.options
			button.btn.purple.runAction(data-action='prevPost')
				i.entypo-arrow-up-6
			button.btn.purple.runAction(data-action='nextPost')
				i.entypo-arrow-down-7
	
	.posts-list.loadActions(data-action='getLikePosts', data-target='.posts-list')
