.row-fluid.box.app
	.title.purple
		i.icomoon-heart
		h3 Friend finder

	.body
		.row-fluid
			p.lead Your Best Match
			.purple.loadActions(data-action='getMatch', data-target='#match_detail')#fr_detail
				.row-container.box-friend.hide
					.row-fluid
						.span2
							img.fr_user_img#fr_img(src='./static/img/default.png')
						.span10
							.row-fluid(style='margin-bottom:5px;')
								b.fr_name#fr_name1

							.row-container
								.row-fluid
									.span2
										p.fr UserName
										p.fr Score
										p.fr Gender
										p.fr Lives in
										p.fr HownTown
										p.fr AboutMe
									.span10
										p
											b.fr#fr_username1
										p
											b.fr#fr_score1
										p
											b.fr#fr_gender
										p
											b.fr#fr_location
										p
											b.fr#fr_hometown
										p
											b.fr#fr_bio
					hr(style='margin-left:20px; width:660px;')
					.row-container.likes_groups
						.row-fluid
							.span6
								p.fr
									b Common Likes
								p.fr#like1
								p.fr#like2
								p.fr#like3
							.span6
								p.fr
									b.fr#mf
								p.fr#mf1
								p.fr#mf2
								p.fr#mf3