mixin __menuContent()
	.tagBinMain
		i.entypo-logout
		p Logout

	ul
		li.runAction(data-action='navigate', data-target='like-post.html')
			.expander 
				.title Like
			.condensed
				i.icomoon-thumbs-up
		li.runAction(data-action='navigate', data-target='pic-upload.html')
			.expander 
				.title PicUpload
			.condensed
				i.icomoon-image
		li.active.runAction(data-action='navigate', data-target='share.html')
			.expander
				.title Share
			.condensed 
				i.entypo-export
		li.runAction(data-action='navigate', data-target='status-post.html')
			.expander
				.title Check-in
			.condensed
				i.entypo-vcard
		li.runAction(data-action='navigate', data-target='tagplay.html')
			.expander
				.title tagPlay
			.condensed
				i.icomoon-music
		li.runAction(data-action='navigate', data-target='tweet.html')
			.expander
				.title Retweet
			.condensed
				i.icomoon-blog
		li.runAction(data-action='navigate', data-target='leaderboard.html')
			.expander
				.title Leader Board
			.condensed
				i.icomoon-dashboard
		li.runAction(data-action='navigate', data-target='match_finder.html')
			.expander
				.title Friend Finder
			.condensed
				i.icomoon-heart
		li.runAction(data-action='navigate', data-target='connect.html')
			.expander
				.title Connect
			.condensed
				i.icomoon-connection
		li.runAction(data-action='navigate', data-target='feedback.html')
			.expander
				.title Feedback
			.condensed
				i.icomoon-feed-2
		li.runAction(data-action='navigate', data-target='fortune.html')
			.expander
				.title Fortune
			.condensed
				i.icomoon-dice

mixin _menu( _state )
	- if( _state == 'hidden' )
		.menu(data-state='hidden')
			mixin __menuContent()
	- else if( _state == 'normal' )
		.menu(data-state='normal')
			mixin __menuContent()
	- else "Error Initializing Menu"