.row-fluid.box.app
	.title.green
		.options
			button.btn.green.runAction.pulsed#capture(data-action='takePicture', data-target='#camera-vw')
				i.icomoon-camera
				span.text1 Capture
			button.btn.green.runAction.hide.pulsed#recapture(data-action='takePicture', data-target='#camera-vw') 
				i.icomoon-camera 
				span.text1 Re-Capture
	
	
	.body 
		.row-fluid.loadActions(data-action='initCamera', data-target='#camera-vw')
			.videoWrap
				video#camera-vw
				.countdown


