.row-fluid.box.app
	.title
		.options
			button.btn.red.mar-r20
				i.icomoon-spinner-6
				span.text1 Reload
			button.btn.red.pulsed_red.runAction(data-action='share_this')
				i.entypo-export
				span.text1 Share Post
			button.btn.red.runAction(data-action='prevPost')
				i.entypo-arrow-up-6
			button.btn.red.runAction(data-action='nextPost')
				i.entypo-arrow-down-7
	
	.posts-list.red.row-fluid.loadActions#latestpost-share(data-action='getLikePosts', data-target='#latestpost-share')
		