.row-fluid.box.app
	.title.blue
		.options
			button.btn.blue.runAction.pulsed(data-action='publishWelcome', data-target='#status-message')
				i.entypo-vcard
				span.text1 Post Status
	.body
		.row-fluid
			p.lead#status-message 
				b Check in message: 
				| "Welcome to tagbin"