.row-fluid.box.app
	.title
		.options
			button.btn.yellow
				i.icomoon-play
				span.text Play
	.play-wrap
		.player-container
			.player
				img.player-art
				.seekbar
					input.play-seek(type='range', min='0', max='100')
				ul.player-info
					li.title Song Title
					li.album Album
					li.artist Artist

		.play-list#playlist-cont
			.head
				.title Playlist
				.options
					button.btn Up
					button.btn Down
			ul.unstyled.loadActions(data-action='populateMP3', data-target='#playlist-cont')


			