.row-fluid.box.app
	.title.green		
		.options
			button.btn.dark_green.pulsed_purple.runAction(data-action='tweet_this')
				i.icomoon-blog
				span.text1 Tweet
			button.btn.purple.runAction(data-action='prevPost')
				i.entypo-arrow-up-6
			button.btn.purple.runAction(data-action='nextPost')
				i.entypo-arrow-down-7
	
	.posts-list.loadActions(data-action='getTweetList', data-target='.posts-list')
