mixin tweet()
	a(href='#').blog
		.row-container.box-bottom
			.row-fluid
				.span2
					img.tw_user_img(src='./static/img/laura.jpg')
				.span8
					p
						b.tw_from
					p.tw_content
				.span2.retweet_no
					| Retweet
					p#retw_count 
					hr

.row-fluid.box.app
	.title.green
		.options
			button.btn.purple.runAction(data-action='prevTweet')
				i.entypo-arrow-up-6
			button.btn.purple.runAction(data-action='nextTweet')
				i.entypo-arrow-down-7
	.body
		.row-fluid
			p.lead retweet module here
			.green.loadActions.overflow(data-action='getTweet', data-target='#tw_detail')#tw_detail
				mixin tweet()