
<div class="row-fluid box app">
  <div class="title yellow"><i class="icomoon-connection"></i>
    <h3>connect linkedin</h3>
  </div>
  <div class="body">
    <div data-action="connectlinkedin" data-target=".connect" class="connect loadActions"></div>
    <div class="row-fluid">
      <p class="lead">connecting people</p>
    </div>
    <div class="row-fluid">
      <div class="span5">
        <div class="place_left1">	</div>
      </div>
      <div class="span3">	
        <div class="row-fluid">
          <div class="span10"><img src="./static/img/logo.png"/></div>
        </div>
      </div>
      <div class="span4">
        <div class="place_right1">			</div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2"></div>
      <div class="span10">	
        <div class="row-fluid">
          <div class="span3"><img src="./static/img/default.png" id="tag-img1" class="shape1"/></div>
          <div class="span4">
            <div class="connectcheck1"></div>
          </div>
          <div class="span3"><img src="./static/img/default.png" id="tag-img2" class="shape1"/></div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2"></div>
      <div class="span10">	
        <div class="row-fluid">
          <div class="span3 text">
            <p class="text1">Guest</p>
          </div>
          <div class="span4"></div>
          <div class="span3 text">
            <p class="text2">Guest</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>