
<div class="row-fluid box app">
  <div class="title purple">
    <div class="head pull-left"><i class="icomoon-diamonds"></i>
      <h3>Horoscope</h3>
    </div>
  </div>
  <div class="body">
    <div class="row-fluid">
      <p class="lead">See your own Horoscope here</p>
    </div>
    <div class="row-fluid">	
      <div class="span12">
        <div data-action="getHoroscope" data-target=".Fortune" class="Fortune loadActions">
          <div class="welcomename">
            <p id="horousername"></p>
            <div id="userimg" class="span1">     </div>
          </div>
          <div class="sunsignnameandimg">
            <p class="horotext"></p><img id="sunsign" class="hide"/>
          </div>
          <div class="horotextdiv">
            <p class="horo"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>