
<head>
  <script src="static/js/jqury-1.9.1.min.js"></script>
  <script src="static/js/leaderboard/knckout-2.2.1.js"></script>
  <script src="static/js/leaderboard/globalize.js"></script>
  <script src="static/js/leaderboard/dx.chartjs.js"></script>
</head>
<div class="row-fluid box app">
  <div class="title yellow"><i class="icomoon-dashboard"></i>
    <h3>leaderboard</h3>
  </div>
  <div class="body">
    <div data-action="getGraph" data-target="#chartContainer" class="row-fluid loadActions">
      <div id="chartContainer"></div>
    </div>
  </div>
</div>