
<div class="row-fluid box app">
  <div class="title purple">
    <div class="options">
      <button data-action="prevPost" class="btn purple runAction"><i class="entypo-arrow-up-6"></i></button>
      <button data-action="nextPost" class="btn purple runAction"><i class="entypo-arrow-down-7"></i></button>
    </div>
  </div>
  <div data-action="getLikePosts" data-target=".posts-list" class="posts-list loadActions"></div>
</div>