
<div class="row-fluid box app">
  <div class="title green">
    <div class="options">
      <button id="capture" data-action="takePicture" data-target="#camera-vw" class="btn green runAction pulsed"><i class="icomoon-camera"></i><span class="text1">Capture</span></button>
      <button id="recapture" data-action="takePicture" data-target="#camera-vw" class="btn green runAction hide pulsed"> <i class="icomoon-camera"> </i><span class="text1">Re-Capture</span></button>
    </div>
  </div>
  <div class="body"> 
    <div data-action="initCamera" data-target="#camera-vw" class="row-fluid loadActions">
      <div class="videoWrap">
        <video id="camera-vw"></video>
        <div class="countdown"></div>
      </div>
    </div>
  </div>
</div>