
<div class="row-fluid box app">
  <div class="title blue">
    <div class="options">
      <button data-action="publishWelcome" data-target="#status-message" class="btn blue runAction pulsed"><i class="entypo-vcard"></i><span class="text1">Post Status</span></button>
    </div>
  </div>
  <div class="body">
    <div class="row-fluid">
      <p id="status-message" class="lead"> <b>Check in message: </b>"Welcome to tagbin"</p>
    </div>
  </div>
</div>