
<div class="row-fluid box app">
  <div class="title green">		
    <div class="options">
      <button data-action="tweet_this" class="btn dark_green pulsed_purple runAction"><i class="icomoon-blog"></i><span class="text1">Tweet</span></button>
      <button data-action="prevPost" class="btn purple runAction"><i class="entypo-arrow-up-6"></i></button>
      <button data-action="nextPost" class="btn purple runAction"><i class="entypo-arrow-down-7"></i></button>
    </div>
  </div>
  <div data-action="getTweetList" data-target=".posts-list" class="posts-list loadActions"></div>
</div>