
<div class="row-fluid box app">
  <div class="title green">
    <div class="options">
      <button data-action="prevTweet" class="btn purple runAction"><i class="entypo-arrow-up-6"></i></button>
      <button data-action="nextTweet" class="btn purple runAction"><i class="entypo-arrow-down-7"></i></button>
    </div>
  </div>
  <div class="body">
    <div class="row-fluid">
      <p class="lead">retweet module here</p>
      <div data-action="getTweet" data-target="#tw_detail" id="tw_detail" class="green loadActions overflow"><a href="#" class="blog">
          <div class="row-container box-bottom">
            <div class="row-fluid">
              <div class="span2"><img src="./static/img/laura.jpg" class="tw_user_img"/></div>
              <div class="span8">
                <p><b class="tw_from"></b></p>
                <p class="tw_content"></p>
              </div>
              <div class="span2 retweet_no">Retweet
                <p id="retw_count"> </p>
                <hr/>
              </div>
            </div>
          </div></a>
      </div>
    </div>
  </div>
</div>