@-moz-keyframes flashIt {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  40% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  70% {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-webkit-keyframes flashIt {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  40% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  70% {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-o-keyframes flashIt {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  40% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  70% {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-ms-keyframes flashIt {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  40% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  70% {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes flashIt {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  40% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  70% {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-moz-keyframes cdowns {
  0% {
    font-size: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  50% {
    font-size: 200px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  }

  75% {
    font-size: 270px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    font-size: 300px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-webkit-keyframes cdowns {
  0% {
    font-size: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  50% {
    font-size: 200px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  }

  75% {
    font-size: 270px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    font-size: 300px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-o-keyframes cdowns {
  0% {
    font-size: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  50% {
    font-size: 200px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  }

  75% {
    font-size: 270px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    font-size: 300px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-ms-keyframes cdowns {
  0% {
    font-size: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  50% {
    font-size: 200px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  }

  75% {
    font-size: 270px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    font-size: 300px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes cdowns {
  0% {
    font-size: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  50% {
    font-size: 200px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  }

  75% {
    font-size: 270px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    font-size: 300px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-moz-keyframes _loading {
  0% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  30% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  50% {
    margin-top: 75px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  }

  60% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  70% {
    margin-top: 80px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  }

  80% {
    margin-top: 95px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }

  100% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes _loading {
  0% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  30% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  50% {
    margin-top: 75px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  }

  60% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  70% {
    margin-top: 80px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  }

  80% {
    margin-top: 95px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }

  100% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes _loading {
  0% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  30% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  50% {
    margin-top: 75px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  }

  60% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  70% {
    margin-top: 80px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  }

  80% {
    margin-top: 95px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }

  100% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-ms-keyframes _loading {
  0% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  30% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  50% {
    margin-top: 75px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  }

  60% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  70% {
    margin-top: 80px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  }

  80% {
    margin-top: 95px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }

  100% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes _loading {
  0% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  30% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  50% {
    margin-top: 75px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  }

  60% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  70% {
    margin-top: 80px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  }

  80% {
    margin-top: 95px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }

  100% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes needyFooter {
  0% {
    background-color: #33b5e5;
  }

  50% {
    background-color: rgba(51,181,229,0.6);
  }

  100% {
    background-color: #33b5e5;
  }
}
@-webkit-keyframes needyFooter {
  0% {
    background-color: #33b5e5;
  }

  50% {
    background-color: rgba(51,181,229,0.6);
  }

  100% {
    background-color: #33b5e5;
  }
}
@-o-keyframes needyFooter {
  0% {
    background-color: #33b5e5;
  }

  50% {
    background-color: rgba(51,181,229,0.6);
  }

  100% {
    background-color: #33b5e5;
  }
}
@-ms-keyframes needyFooter {
  0% {
    background-color: #33b5e5;
  }

  50% {
    background-color: rgba(51,181,229,0.6);
  }

  100% {
    background-color: #33b5e5;
  }
}
@keyframes needyFooter {
  0% {
    background-color: #33b5e5;
  }

  50% {
    background-color: rgba(51,181,229,0.6);
  }

  100% {
    background-color: #33b5e5;
  }
}
.frontlayer,
.backlayer,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.frontlayer {
  z-index: 50;
  overflow: hidden;
}
.backlayer {
  z-index: 30;
}
.overlay {
  z-index: 1300;
  display: none;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  left: 85px;
  bottom: 0;
  right: 20px;
  width: auto;
  height: 100%;
}
.padded {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.bg1 {
  background-image: url("../img/back.jpg");
}
.blur {
  width: 100%;
  height: 112%;
  margin-top: -34%;
  position: absolute;
}
._blur {
  -webkit-filter: grayscale(1) blur(1px);
}
body {
  background-color: #fff;
  color: #484848;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1,
h2 {
  font-family: "RobotoThin";
}
h3,
h4 {
  font-family: "RobotoLight";
}
h5,
h6 {
  font-family: "RobotoMedium";
}
.inline-box i {
  display: inline-block;
  margin-right: 8px;
}
.inline-box span {
  display: inline-block;
  color: #aaa;
}
.tcenter {
  text-align: center;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.2);
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1310;
  background-color: #fff;
  height: 100%;
  width: 100%;
}
.loading .tb-loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1308;
  padding-top: 80px;
  text-align: center;
}
.loading .tb-loader i {
  display: block;
  font-size: 300px;
  color: transparent;
  -webkit-background-clip: text;
  background-color: #9d69b4;
}
.loading .tb-loader i.anim {
  -webkit-animation: _loading 1s ease-out infinite;
  -moz-animation: _loading 1s ease-out infinite;
  -o-animation: _loading 1s ease-out infinite;
  -ms-animation: _loading 1s ease-out infinite;
  animation: _loading 1s ease-out infinite;
}
.loading canvas.ldcanvas,
.loading canvas.sea-of-tweets {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0px;
  left: 0px;
  z-index: 1305;
  display: block;
}
.loading .k-contain {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1306;
  display: block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.loading ul.loader-menu {
  position: relative;
  z-index: 1309;
  text-align: center;
  list-style: none;
  height: auto;
  margin: 7% 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.loading ul.loader-menu li {
  display: inline-block;
  margin-right: 30px;
  margin-top: 30px;
}
.loading ul.loader-menu li a.btn-hex {
  display: block;
  background-color: #9d69b4;
  border: 1px #9d69b4 solid;
  -webkit-border-radius: 65px;
  border-radius: 65px;
  width: 100px;
  height: 100px;
  padding: 36px 36px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.loading ul.loader-menu li a.btn-hex i {
  display: block;
  color: #fff;
  font-size: 80px;
  margin-top: -4px;
  margin-left: -14px;
}
.loading ul.loader-menu li a.btn-hex .title {
  padding: 13px 12px;
  text-align: center;
  width: 100%;
  font-size: 24px;
  color: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: inherit;
  position: absolute;
  top: -70px;
  left: -6px;
  height: 30px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.loading ul.loader-menu li a.btn-hex .title:after {
  position: absolute;
  bottom: -44px;
  background-color: inherit;
  width: 4px;
  left: 50%;
  margin-left: -10px;
  height: 0;
  content: '';
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.loading ul.loader-menu li a.btn-hex:hover,
.loading ul.loader-menu li a.btn-hex:active {
  text-decoration: none;
}
.loading ul.loader-menu li a.btn-hex:hover {
  position: relative;
  top: -20px;
}
.loading ul.loader-menu li a.btn-hex:hover .title {
  top: -100px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.loading ul.loader-menu li a.btn-hex:hover .title:after {
  height: 49px;
}
.loading ul.loader-menu li a.btn-hex:active {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
}
.loading ul.loader-menu li a.btn-hex div {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-left: -12px;
  position: absolute;
  width: 128px;
}
.loading ul.loader-menu li a.btn-hex.green {
  background-color: #33dc49;
  border-color: #33dc49;
}
.loading ul.loader-menu li a.btn-hex.blue {
  background-color: #33b5e5;
  border-color: #33b5e5;
}
.loading ul.loader-menu li a.btn-hex.purple {
  background-color: #9d69b4;
  border-color: #9d69b4;
}
.loading ul.loader-menu li a.btn-hex.yellow {
  background-color: #f4b400;
  border-color: #f4b400;
}
.loading ul.loader-menu li a.btn-hex.red {
  background-color: #f44;
  border-color: #f44;
}
.loading ul.loader-menu li a.btn-hex.dark_green {
  background-color: #151;
  border-color: #151;
}
.loading ul.loader-menu li a.btn-hex.orange {
  background-color: #fb3;
  border-color: #fb3;
}
.loading ul.loader-menu li a.btn-hex.pink {
  background-color: #ed3ba6;
  border-color: #ed3ba6;
}
.loading ul.loader-menu li a.btn-hex.color1 {
  background-color: #bb2;
  border-color: #bb2;
}
.loading ul.loader-menu li a.btn-hex.color2 {
  background-color: #cf0;
  border-color: #cf0;
}
.loading ul.loader-menu li a.btn-hex.brown {
  background-color: #d30;
  border-color: #d30;
}
.loading ul.loader-menu li a.btn-hex.vodared {
  background-color: #ed1c24;
  border-color: #ed1c24;
}
.pulsed {
  -webkit-animation: pulse 0.5s infinite;
  -moz-animation: pulse 0.5s infinite;
  -o-animation: pulse 0.5s infinite;
  -ms-animation: pulse 0.5s infinite;
  animation: pulse 0.5s infinite;
}
.pulsed_red {
  -webkit-animation: pulse_red 0.5s infinite;
  -moz-animation: pulse_red 0.5s infinite;
  -o-animation: pulse_red 0.5s infinite;
  -ms-animation: pulse_red 0.5s infinite;
  animation: pulse_red 0.5s infinite;
}
.pulsed_purple {
  -webkit-animation: pulse_purple 0.5s infinite;
  -moz-animation: pulse_purple 0.5s infinite;
  -o-animation: pulse_purple 0.5s infinite;
  -ms-animation: pulse_purple 0.5s infinite;
  animation: pulse_purple 0.5s infinite;
}
@-moz-keyframes canvasanim {
  0% {
    left: -1000px;
  }

  50% {
    left: 0px;
  }

  100% {
    left: -1000px;
  }
}
@-webkit-keyframes canvasanim {
  0% {
    left: -1000px;
  }

  50% {
    left: 0px;
  }

  100% {
    left: -1000px;
  }
}
@-o-keyframes canvasanim {
  0% {
    left: -1000px;
  }

  50% {
    left: 0px;
  }

  100% {
    left: -1000px;
  }
}
@-ms-keyframes canvasanim {
  0% {
    left: -1000px;
  }

  50% {
    left: 0px;
  }

  100% {
    left: -1000px;
  }
}
@keyframes canvasanim {
  0% {
    left: -1000px;
  }

  50% {
    left: 0px;
  }

  100% {
    left: -1000px;
  }
}
@-moz-keyframes pulse {
  0% {
    background-color: #ddd;
  }

  50% {
    background-color: #33b5e5;
  }

  100% {
    background-color: #ddd;
  }
}
@-webkit-keyframes pulse {
  0% {
    background-color: #ddd;
  }

  50% {
    background-color: #33b5e5;
  }

  100% {
    background-color: #ddd;
  }
}
@-o-keyframes pulse {
  0% {
    background-color: #ddd;
  }

  50% {
    background-color: #33b5e5;
  }

  100% {
    background-color: #ddd;
  }
}
@-ms-keyframes pulse {
  0% {
    background-color: #ddd;
  }

  50% {
    background-color: #33b5e5;
  }

  100% {
    background-color: #ddd;
  }
}
@keyframes pulse {
  0% {
    background-color: #ddd;
  }

  50% {
    background-color: #33b5e5;
  }

  100% {
    background-color: #ddd;
  }
}
@-moz-keyframes pulse_red {
  0% {
    background-color: #fb3;
  }

  50% {
    background-color: #f44;
  }

  100% {
    background-color: #fb3;
  }
}
@-webkit-keyframes pulse_red {
  0% {
    background-color: #fb3;
  }

  50% {
    background-color: #f44;
  }

  100% {
    background-color: #fb3;
  }
}
@-o-keyframes pulse_red {
  0% {
    background-color: #fb3;
  }

  50% {
    background-color: #f44;
  }

  100% {
    background-color: #fb3;
  }
}
@-ms-keyframes pulse_red {
  0% {
    background-color: #fb3;
  }

  50% {
    background-color: #f44;
  }

  100% {
    background-color: #fb3;
  }
}
@keyframes pulse_red {
  0% {
    background-color: #fb3;
  }

  50% {
    background-color: #f44;
  }

  100% {
    background-color: #fb3;
  }
}
@-moz-keyframes pulse_purple {
  0% {
    background-color: #9d69b4;
  }

  50% {
    background-color: #33b5e5;
  }

  100% {
    background-color: #9d69b4;
  }
}
@-webkit-keyframes pulse_purple {
  0% {
    background-color: #9d69b4;
  }

  50% {
    background-color: #33b5e5;
  }

  100% {
    background-color: #9d69b4;
  }
}
@-o-keyframes pulse_purple {
  0% {
    background-color: #9d69b4;
  }

  50% {
    background-color: #33b5e5;
  }

  100% {
    background-color: #9d69b4;
  }
}
@-ms-keyframes pulse_purple {
  0% {
    background-color: #9d69b4;
  }

  50% {
    background-color: #33b5e5;
  }

  100% {
    background-color: #9d69b4;
  }
}
@keyframes pulse_purple {
  0% {
    background-color: #9d69b4;
  }

  50% {
    background-color: #33b5e5;
  }

  100% {
    background-color: #9d69b4;
  }
}
.menu {
  background-color: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  bottom: 0;
  height: 100%;
  z-index: 1100;
  -webkit-box-shadow: inset 0px -4px 5px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px -4px 5px 0px rgba(0,0,0,0.3);
}
.menu ul {
  margin: 0;
  list-style: none;
}
.menu ul li {
  cursor: pointer;
  position: relative;
  width: 70px;
  height: 58px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px;
  text-align: center;
  z-index: 600;
  -webkit-box-shadow: inset -2px 0px 3px 0px rgba(0,0,0,0.2);
  box-shadow: inset -2px 0px 3px 0px rgba(0,0,0,0.2);
}
.menu ul li:nth-child(1n) {
  background-color: #9d69b4;
}
.menu ul li:nth-child(2n) {
  background-color: #33dc49;
}
.menu ul li:nth-child(3n) {
  background-color: #f44;
}
.menu ul li:nth-child(4n) {
  background-color: #33b5e5;
}
.menu ul li:nth-child(5n) {
  background-color: #fb3;
}
.menu ul li:nth-child(6n) {
  background-color: #151;
}
.menu ul li:nth-child(7n) {
  background-color: #f4b400;
}
.menu ul li:nth-child(8n) {
  background-color: #ed3ba6;
}
.menu ul li:nth-child(9n) {
  background-color: #bb2;
}
.menu ul li:nth-child(10n) {
  background-color: #d30;
}
.menu ul li:nth-child(11n) {
  background-color: #ed1c24;
}
.menu ul li .expander {
  color: #fff;
  font-family: "RobotoRegular";
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 70px;
  display: none;
  width: 0;
  height: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 800;
  background-color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  text-align: right;
}
.menu ul li .condensed {
  display: block;
}
.menu ul li .condensed i {
  color: rgba(0,0,0,0.25);
  font-size: 32px;
  margin-top: 5px;
  display: block;
  margin-left: -4px;
}
.menu ul li:hover .expander {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  min-height: 58px;
  height: auto;
  min-width: 40px;
  width: auto;
  display: block;
  -webkit-box-shadow: 2px 0px 8px 1px rgba(0,0,0,0.2);
  box-shadow: 2px 0px 8px 1px rgba(0,0,0,0.2);
  font-size: 30px;
  font-family: "RobotoLight";
  padding-top: 24px;
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -webkit-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
}
.menu ul li:hover .condensed i {
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
}
.menu ul li:active {
  background-color: rgba(0,0,0,0.1);
}
.tb-logo {
  background-image: url("../img/logo.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100px;
  width: 100px;
  margin: 10px 36px;
}
.tagBinMain {
  padding: 10px;
  font-size: 72px;
  margin-top: -8px;
  margin-bottom: -8px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #aaa;
  height: 70px;
}
.tagBinMain:hover {
  color: #9d69b4;
}
.tagBinMain:active {
  color: #f44;
}
.tagBinMain .entypo-logout {
  font-family: 'tagbinfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 50px;
}
.tagBinMain p {
  font-size: 17px;
}
.box {
  background-color: #fff;
  display: block;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
}
.box > .title {
  zoom: 1;
}
.box > .title:before,
.box > .title:after {
  content: "";
  display: table;
}
.box > .title:after {
  clear: both;
}
.box.main {
  margin-top: 20px;
}
.box.main i,
.box.main h3 {
  display: block;
  text-align: center;
  font-size: 30px;
  width: 100%;
  color: #9d69b4;
}
.box.main i {
  font-size: 120px;
}
.box.main h3 {
  margin-top: 10px;
  font-size: 32px;
  font-family: "RobotoThin";
}
.box.app > .title {
  display: block;
  height: auto;
  position: relative;
  height: 70px;
  zoom: 1;
}
.box.app > .title:before,
.box.app > .title:after {
  content: "";
  display: table;
}
.box.app > .title:after {
  clear: both;
}
.box.app > .title .heads {
  display: block;
}
.box.app > .title .heads i {
  display: inline-block;
  font-size: 20px;
  color: #555;
  margin-right: 12px;
}
.box.app > .title .heads h3 {
  display: inline-block;
  color: #555;
}
.box.app > .title .options {
  display: block;
  float: right;
  margin-right: 30px;
}
.box.app > .title .options .btn {
  padding: 8px 20px 5px 20px;
  height: 48px;
  width: 200px;
}
.box.main .main-userpic-wrap {
  padding: 3px 30px 10px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.box.main .main-userpic-wrap .userpic {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #eee;
  width: 100%;
  height: auto;
}
.box.main .main-userpic-wrap .userpic img {
  width: 100%;
  max-height: 41%;
}
.box.main .main-userpic-wrap .username {
  color: #fff;
  background-color: #33dc49;
  border-bottom-color: #33dc49;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 60px;
  padding: 6px 15px 3px 4px;
  font-size: 32px;
  font-family: "RobotoThin";
  position: relative;
  line-height: 27px;
  text-align: center;
}
.box.main .main-userpic-wrap .username:after {
  position: absolute;
  top: -24px;
  border: 12px transparent solid;
  content: '';
  border-bottom-color: inherit;
  left: 20px;
}
.box.main .main-userpic-wrap .username:before {
  position: absolute;
  bottom: -60px;
  content: '';
  width: 60%;
  height: 60px;
  left: 20%;
  background-color: #bbb;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-filter: blur(40px);
  -webkit-transform: rotateX(80deg);
  -moz-transform: rotateX(80deg);
  -o-transform: rotateX(80deg);
  -ms-transform: rotateX(80deg);
  transform: rotateX(80deg);
}
.main-page-title {
  color: #33dc49;
}
.main-page-title ul {
  margin: 45px 30px 0px 30px;
  list-style: none;
}
.main-page-title ul li {
  width: 100%;
  height: 40px;
  border-top: none;
  position: relative;
  display: inline;
}
.main-page-title ul li i.pageicon {
  color: inherit;
  font-size: 22px;
  display: inline-block;
  margin-right: 10px;
}
.main-page-title ul li span.name {
  color: inherit;
  font-size: 32px;
  display: inline-block;
  font-family: "RobotoThin";
}
.box.bottom {
  position: absolute;
  bottom: 0;
  left: 0px;
  z-index: 100;
  height: 160px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 291px;
  margin: 23px;
}
.box.bottom ul.notif {
  list-style: none;
  margin: 0;
  margin-top: -15px;
}
.box.bottom ul.notif li.action {
  padding: 16px 20px 16px 45px;
  margin-right: 20px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #666;
  background-color: #e7e7e7;
  border: 1px #d5d5d5 solid;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.2);
  font-family: "RobotoLight";
  font-size: 19px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.box.bottom ul.notif li.action:after {
  position: absolute;
  left: 10px;
  top: 15px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background-color: #fff;
  content: '';
  border: 1px #d9d9d9 solid;
  z-index: 100;
}
.box.bottom ul.notif li.action:before {
  position: absolute;
  left: 15px;
  top: 20px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px #d9d9d9 solid;
  content: '';
  background-color: #e7e7e7;
  z-index: 110;
}
.box.bottom ul.notif li.action.success {
  background-color: #33dc49;
  color: #fff;
  border-color: #25d53b;
}
.box.bottom ul.notif li.action.success:before {
  background-color: #33dc49;
}
.box.bottom ul.notif li.action.error {
  background-color: #f44;
  color: #fff;
  border-color: #ff2a2a;
}
.box.bottom ul.notif li.action.error:before {
  background-color: #f44;
}
.box.bottom ul.notif li.action.info {
  background-color: #33b5e5;
  color: #fff;
  border-color: #1faee2;
}
.box.bottom ul.notif li.action.info:before {
  background-color: #33b5e5;
}
.box._bottom {
  position: absolute;
  bottom: 0;
  left: 0px;
  z-index: 100;
  height: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 291px;
  margin: 30px;
}
.box._bottom ul.notif {
  list-style: none;
  margin: 0;
  margin-top: -15px;
}
.box._bottom ul.notif li.action {
  padding: 16px 20px 16px 45px;
  margin-right: 20px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  background-color: #33dc49;
  border: 1px #d5d5d5 solid;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.2);
  font-family: "RobotoLight";
  font-size: 19px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.box._bottom ul.notif li.action:after {
  position: absolute;
  left: 10px;
  top: 15px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background-color: #fff;
  content: '';
  border: 1px #d9d9d9 solid;
  z-index: 100;
}
.box._bottom ul.notif li.action:before {
  position: absolute;
  left: 15px;
  top: 20px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px #d9d9d9 solid;
  content: '';
  background-color: #33dc49;
  z-index: 110;
}
.swipe_notification {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  background-color: #fff;
  margin-top: 40px;
  background-color: #33b5e5;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.15);
  text-align: center;
  font-family: "RobotoLight";
  padding: 6px 20px;
  height: 46px;
  width: 400px;
  margin-left: 475px;
  font-size: 28px;
  line-height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
}
.btn {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: none;
  background-color: #9d69b4;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 8px 20px;
  font-size: 16px;
  font-family: "RobotoMedium";
  color: #eee;
  border: 1px #844e9c solid;
}
.btn:hover {
  color: #fff;
  background: none;
  background-color: #a575ba;
}
.btn:active {
  color: #fff;
  background: none;
  background-color: #935aac;
}
.btn span.text1 {
  margin-left: 10px;
  font-size: 23px;
}
.btn.yellow {
  background-color: #f4b400;
  color: #666;
  border-color: #e0a600;
}
.btn.yellow:hover {
  background-color: #ffbd02;
  color: #444;
}
.btn.yellow:active {
  background-color: #e8ab00;
  color: #444;
}
.btn.red {
  background-color: #f44;
  color: #eee;
  border-color: #ff2a2a;
}
.btn.red:hover {
  background-color: #ff4d4d;
  color: #fff;
}
.btn.red:active {
  background-color: #ff3434;
  color: #fff;
}
.btn.green {
  background-color: #33dc49;
  color: #eee;
  border-color: #25d53b;
}
.btn.green:hover {
  background-color: #3dde52;
  color: #fff;
}
.btn.green:active {
  background-color: #27da3f;
  color: #fff;
}
.btn.mar-r20 {
  margin-right: 20px;
}
ul.actionlist {
  margin: 0;
}
ul.actionlist li.action {
  padding: 12px 10px 8px 0px;
  font-family: "RobotoLight";
  font-size: 18px;
  color: #888;
  background-color: #fff;
}
ul.actionlist li.action i {
  background-color: inherit;
  padding: 10px;
  color: #888;
}
ul.actionlist li.action span.name {
  margin-left: 10px;
}
ul.actionlist li.action.done {
  background-color: #33dc49;
  color: #fff;
  width: 92%;
}
ul.actionlist li.action.done i {
  color: #fff;
}
ul.actionlist li.action.waiting {
  background-color: #33b5e5;
  color: #fff;
  width: 92%;
}
ul.actionlist li.action.waiting i {
  color: #fff;
}
.notification {
  position: fixed;
  top: 0;
  left: 0;
  top: 10px;
  left: 50%;
  min-width: 180px;
  background-color: #33b5e5;
  border: 1px #1faee2 solid;
}
.notification .message {
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  font-family: "RobotoRegular";
  font-size: 14px;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}
.videoWrap {
  width: 1000px;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.videoWrap video#camera-vw,
.videoWrap .countdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 828px;
  height: 620px;
  z-index: 55;
}
.videoWrap .countdown {
  z-index: 60;
}
.videoWrap .countdown .c1,
.videoWrap .countdown .c2,
.videoWrap .countdown .c3,
.videoWrap .countdown .c4,
.videoWrap .countdown .c5,
.videoWrap .countdown .flash {
  color: #fff;
  text-shadow: 0px 3px 2px rgba(0,0,0,0.7);
  font-size: 300px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 828px;
  height: 620px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 225px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.videoWrap .countdown .c1 {
  z-index: 61;
  -webkit-animation: cdowns 0.4s linear;
  -moz-animation: cdowns 0.4s linear;
  -o-animation: cdowns 0.4s linear;
  -ms-animation: cdowns 0.4s linear;
  animation: cdowns 0.4s linear;
  -webkit-animation-delay: 3.9s;
  -moz-animation-delay: 3.9s;
  -o-animation-delay: 3.9s;
  -ms-animation-delay: 3.9s;
  animation-delay: 3.9s;
}
.videoWrap .countdown .c2 {
  z-index: 62;
  -webkit-animation: cdowns 0.4s linear;
  -moz-animation: cdowns 0.4s linear;
  -o-animation: cdowns 0.4s linear;
  -ms-animation: cdowns 0.4s linear;
  animation: cdowns 0.4s linear;
  -webkit-animation-delay: 2.9s;
  -moz-animation-delay: 2.9s;
  -o-animation-delay: 2.9s;
  -ms-animation-delay: 2.9s;
  animation-delay: 2.9s;
}
.videoWrap .countdown .c3 {
  z-index: 63;
  -webkit-animation: cdowns 0.4s linear;
  -moz-animation: cdowns 0.4s linear;
  -o-animation: cdowns 0.4s linear;
  -ms-animation: cdowns 0.4s linear;
  animation: cdowns 0.4s linear;
  -webkit-animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  -o-animation-delay: 1.9s;
  -ms-animation-delay: 1.9s;
  animation-delay: 1.9s;
}
.videoWrap .countdown .c4 {
  z-index: 64;
  -webkit-animation: cdowns 0.4s linear;
  -moz-animation: cdowns 0.4s linear;
  -o-animation: cdowns 0.4s linear;
  -ms-animation: cdowns 0.4s linear;
  animation: cdowns 0.4s linear;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.videoWrap .countdown .c5 {
  z-index: 65;
  -webkit-animation: cdowns 0.4s linear;
  -moz-animation: cdowns 0.4s linear;
  -o-animation: cdowns 0.4s linear;
  -ms-animation: cdowns 0.4s linear;
  animation: cdowns 0.4s linear;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.videoWrap .countdown .flash {
  z-index: 66;
  background-color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-animation: flashIt 0.2s cubic-bezier(0, 0.95, 0.3, 0.96);
  -moz-animation: flashIt 0.2s cubic-bezier(0, 0.95, 0.3, 0.96);
  -o-animation: flashIt 0.2s cubic-bezier(0, 0.95, 0.3, 0.96);
  -ms-animation: flashIt 0.2s cubic-bezier(0, 0.95, 0.3, 0.96);
  animation: flashIt 0.2s cubic-bezier(0, 0.95, 0.3, 0.96);
  -webkit-animation-delay: 4.9s;
  -moz-animation-delay: 4.9s;
  -o-animation-delay: 4.9s;
  -ms-animation-delay: 4.9s;
  animation-delay: 4.9s;
}
.videoWrap {
  position: relative;
}
.videoWrap:after {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 58;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  content: '';
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/frame.png");
}
.post-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
}
.post-container .userImage img {
  height: 150px;
  width: 150px;
  background-color: #9d69b4;
}
.post-container .post-content {
  margin-top: 5px;
}
.post-container .post-content .post-text {
  font-family: "RobotoThin";
  font-size: 38px;
  line-height: 50px;
}
.post-container .post-content .who-posted {
  display: block;
  color: #9d69b4;
  font-family: "RobotoLight";
  font-size: 22px;
  margin-bottom: 5px;
}
.post-container .post-content .post-likes {
  margin-top: 15px;
}
.post-container .post-content .post-likes .count {
  font-size: 30px;
  font-family: "RobotoRegular";
}
.post-container .post-content .post-likes .text {
  font-size: 16px;
}
.post-container .post-content#latestpost-share .who-posted {
  color: #444;
}
.post-container .post-content#latestpost-share .post-text p {
  color: #222;
}
.post-container .post-content#latestpost-share .post-likes .count {
  color: #444;
}
.posts-list {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 30px;
  -webkit-perspective: 600;
  -moz-perspective: 600;
  -ms-perspective: 600;
  perspective: 600;
  -webkit-perspective-origin: center center;
  -moz-perspective-origin: center center;
  -ms-perspective-origin: center center;
  perspective-origin: center center;
  overflow: hidden;
}
.posts-list .social-post {
  opacity: 0.45;
  filter: alpha(opacity=45);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
  padding: 20px;
  height: auto;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-top: 5px;
  border: 1px #ddd solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
  -webkit-transform: scale(0.8) rotateX(25deg);
  -moz-transform: scale(0.8) rotateX(25deg);
  -o-transform: scale(0.8) rotateX(25deg);
  -ms-transform: scale(0.8) rotateX(25deg);
  transform: scale(0.8) rotateX(25deg);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.posts-list .social-post .pic-whoposted {
  height: 150px;
  width: 150px;
  background-color: #9d69b4;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center top;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px #ccc solid;
  -webkit-box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.25);
  box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.25);
  margin-bottom: 40px;
  position: relative;
}
.posts-list .social-post .pic-whoposted:after {
  position: absolute;
  content: '';
  width: 100px;
  height: 40px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-transform: rotateX(80deg);
  -moz-transform: rotateX(80deg);
  -o-transform: rotateX(80deg);
  -ms-transform: rotateX(80deg);
  transform: rotateX(80deg);
  background-color: #bbb;
  -webkit-filter: blur(20px);
  bottom: -40px;
  left: 50%;
  margin-left: -50px;
}
.posts-list .social-post .who-posted {
  font-size: 28px;
  background-color: #9d69b4;
  font-family: "RobotoLight";
  padding: 20px;
  width: auto;
  display: inline-block;
  margin-top: -21px;
  color: #fff;
  -webkit-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.15);
}
.posts-list .social-post .post-text {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 28px;
  font-family: "RobotoThin";
  line-height: 40px;
}
.posts-list .social-post .post-text i {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.posts-list .social-post .post-likes {
  zoom: 1;
  display: block;
  float: left;
  height: 65px;
  width: 85px;
  color: #9d69b4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0px;
  cursor: pointer;
}
.posts-list .social-post .post-likes:before,
.posts-list .social-post .post-likes:after {
  content: "";
  display: table;
}
.posts-list .social-post .post-likes:after {
  clear: both;
}
.posts-list .social-post .post-likes .count {
  display: inline-block;
  color: inherit;
  font-family: "RobotoRegular";
  width: auto;
  font-size: 22px;
}
.posts-list .social-post .post-likes .text_like {
  display: inline-block;
  margin-left: 10px;
}
.posts-list .social-post .post-likes .text_like i.white {
  font-size: 45px;
  color: inherit;
}
.posts-list .social-post ul.like-users {
  margin: 0px 0px 0px 0px;
  list-style: none;
  display: block;
  clear: none;
  float: left;
  width: auto;
  background-color: #fff;
  padding: 6px 20px 2px 20px;
  margin-bottom: 20px;
}
.posts-list .social-post ul.like-users li {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-right: 8px;
  border: 1px #ddd solid;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.posts-list .social-post ul.like-users li:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  -webkit-transform: rotateX(80deg);
  -moz-transform: rotateX(80deg);
  -o-transform: rotateX(80deg);
  -ms-transform: rotateX(80deg);
  transform: rotateX(80deg);
  background-color: #aaa;
  -webkit-filter: blur(10px);
  bottom: -25px;
  left: 50%;
  margin-left: -10px;
}
.posts-list .social-post.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: scale(1) rotateX(0deg);
  -moz-transform: scale(1) rotateX(0deg);
  -o-transform: scale(1) rotateX(0deg);
  -ms-transform: scale(1) rotateX(0deg);
  transform: scale(1) rotateX(0deg);
  position: relative;
  z-index: 400;
}
.posts-list .social-post.hidden {
  display: block;
  visibility: visible;
  -webkit-transform: scale(0.8) rotateX(25deg);
  -moz-transform: scale(0.8) rotateX(25deg);
  -o-transform: scale(0.8) rotateX(25deg);
  -ms-transform: scale(0.8) rotateX(25deg);
  transform: scale(0.8) rotateX(25deg);
  position: relative;
  z-index: 300;
}
.posts-list .social-post.hidden.tiltup {
  -webkit-transform: scale(0.8) rotateX(25deg);
  -moz-transform: scale(0.8) rotateX(25deg);
  -o-transform: scale(0.8) rotateX(25deg);
  -ms-transform: scale(0.8) rotateX(25deg);
  transform: scale(0.8) rotateX(25deg);
}
.posts-list .social-post.hidden.tiltdown {
  -webkit-transform: scale(0.8) rotateX(-25deg);
  -moz-transform: scale(0.8) rotateX(-25deg);
  -o-transform: scale(0.8) rotateX(-25deg);
  -ms-transform: scale(0.8) rotateX(-25deg);
  transform: scale(0.8) rotateX(-25deg);
}
.posts-list .social-post.active + .social-post {
  position: relative;
  -webkit-transform: scale(0.8) rotateX(-25deg);
  -moz-transform: scale(0.8) rotateX(-25deg);
  -o-transform: scale(0.8) rotateX(-25deg);
  -ms-transform: scale(0.8) rotateX(-25deg);
  transform: scale(0.8) rotateX(-25deg);
}
.posts-list .social-post:first-child {
  margin-top: 400px;
}
.posts-list .social-post:last-child {
  margin-bottom: 400px;
}
.posts-list.red .social-post .pic-whoposted {
  background-color: #f44;
}
.posts-list.red .social-post .who-posted {
  background-color: #f44;
}
.posts-list.red .social-post .post-likes {
  color: #f44;
}
.thumb-color {
  -webkit-animation: thumb-color 0.5s infinite;
  -moz-animation: thumb-color 0.5s infinite;
  -o-animation: thumb-color 0.5s infinite;
  -ms-animation: thumb-color 0.5s infinite;
  animation: thumb-color 0.5s infinite;
}
@-moz-keyframes thumb-color {
  0% {
    color: #ddd;
  }

  50% {
    color: #33b5e5;
  }

  100% {
    color: #ddd;
  }
}
@-webkit-keyframes thumb-color {
  0% {
    color: #ddd;
  }

  50% {
    color: #33b5e5;
  }

  100% {
    color: #ddd;
  }
}
@-o-keyframes thumb-color {
  0% {
    color: #ddd;
  }

  50% {
    color: #33b5e5;
  }

  100% {
    color: #ddd;
  }
}
@-ms-keyframes thumb-color {
  0% {
    color: #ddd;
  }

  50% {
    color: #33b5e5;
  }

  100% {
    color: #ddd;
  }
}
@keyframes thumb-color {
  0% {
    color: #ddd;
  }

  50% {
    color: #33b5e5;
  }

  100% {
    color: #ddd;
  }
}
.play-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
.play-wrap .player-container {
  width: 60%;
  display: block;
  float: left;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.play-list {
  display: block;
  float: left;
  width: 40%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px #ddd solid;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
}
.play-list .head {
  height: 60px;
  border-bottom: 1px #ddd solid;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #f3f3f3));
  background: -webkit-linear-gradient(top, #fafafa 0%, #f3f3f3 100%);
  background: -moz-linear-gradient(top, #fafafa 0%, #f3f3f3 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #f3f3f3 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #f3f3f3 100%);
  background: linear-gradient(top, #fafafa 0%, #f3f3f3 100%);
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 20px;
}
.play-list .head .title,
.play-list .head .options {
  display: block;
}
.play-list .head .title {
  margin-top: 11px;
  float: left;
  font-size: 15px;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #fff;
  color: #c4c4c4;
}
.play-list .head .options {
  float: right;
}
.play-list .head .options .btn {
  margin-top: 4px;
  padding: 5px 10px;
  font-size: 14px;
  border-color: #ccc;
  background: none;
  background-color: #ddd;
}
.play-list ul {
  margin: 0;
  list-style: none;
  overflow: hidden;
  height: 582px;
  overflow-y: scroll;
}
.play-list ul li {
  display: block;
  padding: 16px 10px 16px 30px;
  font-size: 16px;
  font-family: "RobotoLight";
  border-bottom: 1px #eee solid;
  position: relative;
  cursor: pointer;
}
.play-list ul li:after {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  border: 1px #ccc solid;
  -webkit-box-shadow: inset 0px -2px 7px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px -2px 7px 0px rgba(0,0,0,0.1);
  top: 18px;
  left: 8px;
  background-color: #fff;
}
.play-list ul li:hover:after {
  background-color: #f4b400;
}
.play-list ul li:active:after,
.play-list ul li.active:after {
  background-color: #33b5e5;
}
.player-container {
  padding: 0px 40px 40px 40px;
}
.player-container .player {
  zoom: 1;
}
.player-container .player:before,
.player-container .player:after {
  content: "";
  display: table;
}
.player-container .player:after {
  clear: both;
}
.player-container .player-art {
  display: block;
  width: 400px;
  height: 400px;
  background-color: #33b5e5;
}
.player-container .player-info {
  display: block;
  margin-top: 20px;
  font-family: "RobotoLight";
  font-size: 16px;
  text-align: center;
}
ul.player-info,
ul.player-controls {
  display: block;
  margin: 0;
  list-style: none;
}
ul.player-info li {
  display: block;
}
.player .seekbar {
  margin-top: 40px;
  display: none;
}
.player input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(51,181,229,0.4);
  width: 100%;
  height: 2px;
  display: block;
}
.player input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  cursor: pointer;
  height: 10px;
  background-color: #33b5e5;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(51,181,229,0.3);
  box-shadow: 0px 0px 10px 0px rgba(51,181,229,0.3);
}
.player input[type='range']::-webkit-slider-thumb:after {
  position: absolute;
  top: -6px;
  left: -6px;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px rgba(51,181,229,0.8) solid;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
@media (max-width:767px) {
  .menu {
    left: 0;
    bottom: initial;
    top: 0;
    right: 0;
    height: 70px;
  }
  .menu ul {
    margin-left: 0px;
    white-space: nowrap;
    overflow: hidden;
  }
  .menu ul li {
    width: auto;
    zoom: 1;
    display: block;
    float: left;
  }
  .menu ul li:before,
  .menu ul li:after {
    content: "";
    display: table;
  }
  .menu ul li:after {
    clear: both;
  }
  .menu ul li .condensed {
    padding-left: 12px;
    padding-right: 12px;
  }
  .menu ul li:hover .expander {
    position: relative;
    display: block;
    float: right;
    width: auto;
    margin: 0;
    left: initial;
    right: -15px;
    top: -15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 26px;
  }
  .menu ul li:hover .condensed {
    position: static;
    display: block;
    float: left;
  }
  .menu ul li.active {
    position: relative;
  }
  .menu ul li.active:after {
    position: absolute;
    bottom: 0;
    content: '';
    border: 8px transparent solid;
    border-bottom-color: #fff;
    left: 50%;
    margin-left: -8px;
    z-index: 1200;
  }
}
#chartContainer {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 500px;
}
.shape {
  -webkit-border-radius: 78px;
  border-radius: 78px;
  height: 156px;
  border: 0px #fff solid;
  background-color: none;
  margin: 15px 0px 35px 0px;
}
.shape1 {
  -webkit-border-radius: 83px;
  border-radius: 83px;
  height: 166px;
  border: 1px #fff solid;
  background-color: none;
  margin: 5px 0px 35px 0px;
}
.place_left {
  height: 0px;
  width: 0px;
  margin-top: 185px;
  margin-left: 245px;
  border-top: 5px #ffa500 dotted;
  border-left: 5px #ffa500 dotted;
  background-color: none;
  -webkit-animation: _connecting_left 3s linear infinite;
  -moz-animation: _connecting_left 3s linear infinite;
  -o-animation: _connecting_left 3s linear infinite;
  -ms-animation: _connecting_left 3s linear infinite;
  animation: _connecting_left 3s linear infinite;
}
.place_right {
  height: 0px;
  width: 0px;
  margin-top: 85px;
  margin-left: -30px;
  border-top: 5px #ffa500 dotted;
  border-right: 5px #ffa500 dotted;
  background-color: none;
  -webkit-animation: _connecting_right 3s linear infinite;
  -moz-animation: _connecting_right 3s linear infinite;
  -o-animation: _connecting_right 3s linear infinite;
  -ms-animation: _connecting_right 3s linear infinite;
  animation: _connecting_right 3s linear infinite;
}
.text {
  color: #00f;
  font-size: 30px;
  text-align: center;
}
.connectcheck {
  height: 5px;
  width: 0px;
  margin-top: 85px;
  border-top: 5px #ffa500 dotted;
  background-color: none;
  -webkit-animation: _connectckeck 3s linear infinite;
  -moz-animation: _connectckeck 3s linear infinite;
  -o-animation: _connectckeck 3s linear infinite;
  -ms-animation: _connectckeck 3s linear infinite;
  animation: _connectckeck 3s linear infinite;
}
@-moz-keyframes _connecting_left {
  0% {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: 0px;
    width: 0px;
    margin-top: 185px;
  }

  25% {
    -webkit-border-radius: 25px 0px 0px 0px;
    border-radius: 25px 0px 0px 0px;
    height: 100px;
    width: 0px;
    margin-top: 85px;
  }

  50% {
    -webkit-border-radius: 25px 0px 0px 0px;
    border-radius: 25px 0px 0px 0px;
    height: 100px;
    width: 110px;
    margin-top: 85px;
  }

  100% {
    -webkit-border-radius: 25px 0px 0px 0px;
    border-radius: 25px 0px 0px 0px;
    height: 100px;
    width: 110px;
    margin-top: 85px;
  }
}
@-webkit-keyframes _connecting_left {
  0% {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: 0px;
    width: 0px;
    margin-top: 185px;
  }

  25% {
    -webkit-border-radius: 25px 0px 0px 0px;
    border-radius: 25px 0px 0px 0px;
    height: 100px;
    width: 0px;
    margin-top: 85px;
  }

  50% {
    -webkit-border-radius: 25px 0px 0px 0px;
    border-radius: 25px 0px 0px 0px;
    height: 100px;
    width: 110px;
    margin-top: 85px;
  }

  100% {
    -webkit-border-radius: 25px 0px 0px 0px;
    border-radius: 25px 0px 0px 0px;
    height: 100px;
    width: 110px;
    margin-top: 85px;
  }
}
@-o-keyframes _connecting_left {
  0% {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: 0px;
    width: 0px;
    margin-top: 185px;
  }

  25% {
    -webkit-border-radius: 25px 0px 0px 0px;
    border-radius: 25px 0px 0px 0px;
    height: 100px;
    width: 0px;
    margin-top: 85px;
  }

  50% {
    -webkit-border-radius: 25px 0px 0px 0px;
    border-radius: 25px 0px 0px 0px;
    height: 100px;
    width: 110px;
    margin-top: 85px;
  }

  100% {
    -webkit-border-radius: 25px 0px 0px 0px;
    border-radius: 25px 0px 0px 0px;
    height: 100px;
    width: 110px;
    margin-top: 85px;
  }
}
@-ms-keyframes _connecting_left {
  0% {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: 0px;
    width: 0px;
    margin-top: 185px;
  }

  25% {
    -webkit-border-radius: 25px 0px 0px 0px;
    border-radius: 25px 0px 0px 0px;
    height: 100px;
    width: 0px;
    margin-top: 85px;
  }

  50% {
    -webkit-border-radius: 25px 0px 0px 0px;
    border-radius: 25px 0px 0px 0px;
    height: 100px;
    width: 110px;
    margin-top: 85px;
  }

  100% {
    -webkit-border-radius: 25px 0px 0px 0px;
    border-radius: 25px 0px 0px 0px;
    height: 100px;
    width: 110px;
    margin-top: 85px;
  }
}
@keyframes _connecting_left {
  0% {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: 0px;
    width: 0px;
    margin-top: 185px;
  }

  25% {
    -webkit-border-radius: 25px 0px 0px 0px;
    border-radius: 25px 0px 0px 0px;
    height: 100px;
    width: 0px;
    margin-top: 85px;
  }

  50% {
    -webkit-border-radius: 25px 0px 0px 0px;
    border-radius: 25px 0px 0px 0px;
    height: 100px;
    width: 110px;
    margin-top: 85px;
  }

  100% {
    -webkit-border-radius: 25px 0px 0px 0px;
    border-radius: 25px 0px 0px 0px;
    height: 100px;
    width: 110px;
    margin-top: 85px;
  }
}
@-moz-keyframes _connecting_right {
  0% {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: 0px;
    width: 0px;
    border-width: 0px;
  }

  49% {
    border-width: 0px;
  }

  50% {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: 0px;
    width: 0px;
    border-width: 5px;
  }

  75% {
    -webkit-border-radius: 0px 25px 0px 0px;
    border-radius: 0px 25px 0px 0px;
    height: 0px;
    width: 110px;
  }

  100% {
    -webkit-border-radius: 0px 25px 0px 0px;
    border-radius: 0px 25px 0px 0px;
    height: 100px;
    width: 110px;
  }
}
@-webkit-keyframes _connecting_right {
  0% {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: 0px;
    width: 0px;
    border-width: 0px;
  }

  49% {
    border-width: 0px;
  }

  50% {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: 0px;
    width: 0px;
    border-width: 5px;
  }

  75% {
    -webkit-border-radius: 0px 25px 0px 0px;
    border-radius: 0px 25px 0px 0px;
    height: 0px;
    width: 110px;
  }

  100% {
    -webkit-border-radius: 0px 25px 0px 0px;
    border-radius: 0px 25px 0px 0px;
    height: 100px;
    width: 110px;
  }
}
@-o-keyframes _connecting_right {
  0% {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: 0px;
    width: 0px;
    border-width: 0px;
  }

  49% {
    border-width: 0px;
  }

  50% {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: 0px;
    width: 0px;
    border-width: 5px;
  }

  75% {
    -webkit-border-radius: 0px 25px 0px 0px;
    border-radius: 0px 25px 0px 0px;
    height: 0px;
    width: 110px;
  }

  100% {
    -webkit-border-radius: 0px 25px 0px 0px;
    border-radius: 0px 25px 0px 0px;
    height: 100px;
    width: 110px;
  }
}
@-ms-keyframes _connecting_right {
  0% {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: 0px;
    width: 0px;
    border-width: 0px;
  }

  49% {
    border-width: 0px;
  }

  50% {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: 0px;
    width: 0px;
    border-width: 5px;
  }

  75% {
    -webkit-border-radius: 0px 25px 0px 0px;
    border-radius: 0px 25px 0px 0px;
    height: 0px;
    width: 110px;
  }

  100% {
    -webkit-border-radius: 0px 25px 0px 0px;
    border-radius: 0px 25px 0px 0px;
    height: 100px;
    width: 110px;
  }
}
@keyframes _connecting_right {
  0% {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: 0px;
    width: 0px;
    border-width: 0px;
  }

  49% {
    border-width: 0px;
  }

  50% {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: 0px;
    width: 0px;
    border-width: 5px;
  }

  75% {
    -webkit-border-radius: 0px 25px 0px 0px;
    border-radius: 0px 25px 0px 0px;
    height: 0px;
    width: 110px;
  }

  100% {
    -webkit-border-radius: 0px 25px 0px 0px;
    border-radius: 0px 25px 0px 0px;
    height: 100px;
    width: 110px;
  }
}
@-moz-keyframes _connectckeck {
  0% {
    width: 0px;
  }

  100% {
    width: 190px;
  }
}
@-webkit-keyframes _connectckeck {
  0% {
    width: 0px;
  }

  100% {
    width: 190px;
  }
}
@-o-keyframes _connectckeck {
  0% {
    width: 0px;
  }

  100% {
    width: 190px;
  }
}
@-ms-keyframes _connectckeck {
  0% {
    width: 0px;
  }

  100% {
    width: 190px;
  }
}
@keyframes _connectckeck {
  0% {
    width: 0px;
  }

  100% {
    width: 190px;
  }
}
.box-friend {
  border: 1px #dfdfdf solid;
  background: #800080;
  margin-left: 5%;
  width: 700px;
}
.box-friend .fr_name {
  display: block;
  color: #fff;
  font-family: "RobotoLight";
  font-size: 22px;
  margin-top: 3px;
}
.box-friend .fr {
  display: block;
  color: #fff;
  font-size: 17px;
  font-family: "RobotoLight";
}
.fr_user_img {
  width: 150px;
  height: 150px;
}
.field {
  display: inline;
  float: left;
  color: #fff;
}
.likes_groups {
  display: block;
  margin-left: 40px;
}
.box-bottom {
  border: 1px #dfdfdf solid;
  background: #008000;
  margin-left: 5%;
  width: 700px;
}
.box-bottom .tw_from {
  display: block;
  color: #fff;
  font-family: "RobotoLight";
  font-size: 22px;
  margin-top: 3px;
}
.box-bottom .tw_content {
  display: block;
  color: #fff;
  font-size: 17px;
  font-family: "RobotoLight";
}
.tw_user_img {
  width: 150px;
  height: 150px;
}
.overflow {
  overflow: auto;
  height: 520px;
}
.retweet_no {
  display: block;
  color: #fff;
  font-size: 22px;
  margin-top: 3px;
}
#retw_count {
  color: #fff;
  font-size: 17px;
  text-align: center;
  margin-top: 2px;
}
.smiley {
  width: 18%;
  height: 18%;
  margin-right: 5px;
}
.inp {
  -webkit-transform: scale(4, 4);
  margin-left: 10%;
  margin-top: 30px;
}
.Fortune {
  position: relative;
  display: block;
  top: auto;
  height: 500px;
  width: 875px;
  z-index: 1200;
}
.Fortune .welcomename {
  position: absolute;
  top: zero;
  left: zero;
  width: 915px;
  display: block;
  background: #fff;
  font-weight: normal;
  text-align: center;
  height: 30px;
  padding-top: 15px;
  padding-bottom: 5px;
  z-index: 1200;
}
.Fortune .welcomename p#horousername {
  color: #800080;
  font-size: 24px;
  font-family: "RobotoLight";
}
.Fortune .welcomename .span1#userimg {
  position: absolute;
  top: 0px;
  left: -22px;
  width: 50px;
  height: 50px;
}
.Fortune .sunsignnameandimg {
  position: absolute;
  top: 80px;
  left: zero;
  width: 915px;
  background: #fff;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  height: 45px;
  font-size: 24px;
  padding-top: 25px;
  z-index: 1200;
}
.Fortune .sunsignnameandimg p.horotext {
  position: relative;
  color: #ffa500;
  font-family: "RobotoLight";
}
.Fortune .sunsignnameandimg img#sunsign {
  position: absolute;
  top: 0px;
  right: 100px;
  width: 70px;
  height: 70px;
}
.Fortune .horotextdiv {
  position: absolute;
  display: block;
  top: 180px;
  left: zero;
  background: #fff;
  min-height: 120px;
  height: auto;
  color: #ffa500;
  font-size: 24px;
  padding: 20px;
  width: 875px;
  line-height: 40px;
  height: auto;
  max-height: 300px;
}
.Fortune .horotextdiv p.horo {
  position: relative;
  text-align: center;
  font-family: "RobotoLight";
  color: #008000;
}
#status-message {
  font-size: 28px;
  font-family: RobotoThin;
}
