.background
	fixed top left
	z-index 10
	background-size cover
	background-position center center
	background-repeat no-repeat
	bottom 0
	right 0
	height 100%
	width 100%

.bg1
	background-image url('../img/back.jpg')

.blur
	width 100%
	height 112%
	margin-top -34%
	position absolute

._blur
	-webkit-filter grayscale(1) blur(1px)