.box
	background-color #FFF
	display block
	width 100%
	height auto
	box-sizing border-box
	margin-top 20px
	> .title 
		clearfix()



// Main Box
.box.main
	margin-top 20px
	i, h3
		display block
		text-align center
		font-size 30px
		width 100%
		color _purple
	i
		font-size 120px
	h3
		margin-top 10px
		font-size 32px 
		font-family baseFontThin


// App Box 
.box.app
	> .title
		display block 
		height auto
		position relative
		//border-bottom 1px #eee dashed
		height 70px
		clearfix()
		.heads
			display block
			
			i
				display inline-block
				font-size 20px
				color #555
				margin-right 12px
			h3
				display inline-block
				color #555
		.options
			display block
			float right
			margin-right 30px
			.btn
				padding 8px 20px 5px 20px
				height 48px
				width 200px



// Main Box
.box.main
	.main-userpic-wrap
		padding 3px 30px 10px 30px
		box-sizing border-box
		width 100%
		height 100%
		.userpic
			display block
			box-sizing border-box
			background-color #eee
			width 100%
			height auto
			img
				width 100%
				max-height 41%
		.username
			color #FFF
			background-color _green
			border-bottom-color _green
			width 100%
			display block
			box-sizing border-box
			height 60px
			padding 6px 15px 3px 4px
			font-size 32px
			font-family baseFontThin
			position relative
			line-height 27px
			text-align center
			&:after
				position absolute
				top -24px
				border 12px transparent solid
				content ''
				border-bottom-color inherit
				left 20px
			&:before
				position absolute
				bottom -60px
				content ''
				width 60%
				height 60px
				left 20%
				background-color #bbb
				border-radius 100%
				-webkit-filter blur(40px)
				transform rotateX(80deg)




// Main Page Title 
.main-page-title
	color _green
	ul
		margin 45px 30px 0px 30px
		list-style none
		li
			width 100%
			height 40px
			border-top none
			position relative
			display inline
			i.pageicon
				color inherit
				font-size 22px
				display inline-block
				margin-right 10px
			span.name 
				color inherit
				font-size 32px
				display inline-block
				font-family baseFontThin
.box.bottom
	position absolute
	bottom 0
	left 0px
	z-index 100
	height 160px
	box-sizing border-box
	width 291px
	margin 23px
	ul.notif
		list-style none
		margin 0
		margin-top -15px
		li.action
			padding 16px 20px 16px 45px
			margin-right 20px
			border-radius 2px
			color #666
			background-color #e7e7e7
			border 1px #d5d5d5 solid
			box-shadow 0px 1px 6px 0px rgba(#000, 0.2)
			font-family baseFontLight
			font-size 19px
			position relative
			transition all .3s ease-in-out
			&:after
				position absolute
				left 10px
				top 15px 
				width 20px
				height 20px
				border-radius 40px
				background-color #FFF
				content ''
				border 1px #d9d9d9 solid
				z-index 100
			&:before 
				position absolute
				left 15px
				top 20px
				width 10px 
				height 10px
				border-radius 10px
				border 1px #d9d9d9 solid
				content ''
				background-color #e7e7e7
				z-index 110
		li.action.success
			background-color _green
			color #FFF
			border-color darken(_green, 8%)
			&:before 
				background-color _green
		li.action.error 
			background-color _red
			color #FFF
			border-color darken(_red, 8%)
			&:before
				background-color _red
		li.action.info
			background-color _blue
			color #FFF
			border-color darken(_blue, 8%)
			&:before
				background-color _blue

.box._bottom
	position absolute
	bottom 0
	left 0px
	z-index 100
	height 200px
	box-sizing border-box
	width 291px
	margin 30px
	ul.notif
		list-style none
		margin 0
		margin-top -15px
		li.action
			padding 16px 20px 16px 45px
			margin-right 20px
			border-radius 2px
			color #FFFFFF
			background-color #33dc49
			border 1px #d5d5d5 solid
			box-shadow 0px 1px 6px 0px rgba(#000, 0.2)
			font-family baseFontLight
			font-size 19px
			position relative
			transition all .3s ease-in-out
			&:after
				position absolute
				left 10px
				top 15px 
				width 20px
				height 20px
				border-radius 40px
				background-color #FFF
				content ''
				border 1px #d9d9d9 solid
				z-index 100
			&:before 
				position absolute
				left 15px
				top 20px
				width 10px 
				height 10px
				border-radius 10px
				border 1px #d9d9d9 solid
				content ''
				background-color #33dc49
				z-index 110

.swipe_notification
	border none
	box-shadow none
	background none
	background-color #FFF
	margin-top 40px
	background-color _blue
	color #FFF
	text-shadow 0px 1px 1px rgba(0,0,0,0.15)
	text-align center
	font-family baseFontLight	
	padding 6px 20px
	height 46px
	width 400px
	margin-left 475px
	font-size 28px
	line-height 32px
	box-sizing border-box
	font-weight bold