.Fortune
	position relative
	display block
	top auto
	height 500px
	width 875px
	z-index 1200
	.welcomename
		position absolute
		top zero
		left zero
		width 915px
		display block
		background white
		font-weight normal
		text-align center
		height 30px
		padding-top 15px
		padding-bottom 5px
		z-index 1200
		p#horousername
			color purple
			font-size 24px
			font-family baseFontLight
		.span1#userimg
			position absolute
			top 0px
			left -22px
			width 50px
			height 50px
	.sunsignnameandimg
		position absolute
		top 80px
		left zero
		width 915px
		background white
		display inline-block
		font-weight normal 
		text-align center
		height 45px
		font-size 24px
		padding-top 25px
		z-index 1200
		p.horotext
			position relative
			color orange
			font-family baseFontLight
		img#sunsign
			position absolute
			top 0px
			right 100px
			width 70px
			height 70px
	.horotextdiv
		position absolute
		display block
		top 180px
		left zero
		background white
		min-height 120px
		height auto
		color orange
		font-size 24px
		padding 20px
		width 875px
		line-height 40px
		height auto
		max-height 300px
		p.horo
			position relative
			text-align center
			font-family baseFontLight
			color green