
.shape
	border-radius(78px)
	height 156px
	border 0px #fff solid
	background-color none
	margin 15px 0px 35px 0px

.shape1
	border-radius(83px)
	height 166px
	border 1px #fff solid
	background-color none
	margin 5px 0px 35px 0px	
.place_left
	border-radius-top(25px 0px 0px 0px)
	height 0px
	width 0px
	margin-top 185px
	margin-left 245px
	border-top 5px orange dotted
	border-left 5px orange dotted
	background-color none
	animation _connecting_left 3s linear infinite

.place_right
	border-radius-top(0px 25px 0px 0px)
	height 0px
	width 0px
	margin-top 85px
	margin-left -30px
	border-top 5px orange dotted
	border-right 5px orange dotted
	background-color none
	animation _connecting_right 3s linear infinite
.text
	color blue
	font-size 30px
	text-align center
.connectcheck
	height 5px
	width 0px
	margin-top 85px
	border-top 5px orange dotted
	background-color none
	animation _connectckeck 3s linear infinite

@keyframes _connecting_left{
	0%{
		border-radius(0px 0px 0px 0px)
		height 0px
		width 0px
		margin-top 185px
	}
	25%{
		border-radius(25px 0px 0px 0px)
		height 100px
		width 0px 
		margin-top 85px
	}
	50%{
		border-radius(25px 0px 0px 0px)
		height 100px
		width 110px
		margin-top 85px
	}
	100%{
		border-radius(25px 0px 0px 0px)
		height 100px
		width 110px
		margin-top 85px
	}

}

@keyframes _connecting_right{
	0%{
		border-radius(0px 0px 0px 0px)
		height 0px
		width 0px
		border-width 0px
	}
	49%{border-width 0px}
	50%{
		border-radius(0px 0px 0px 0px)
		height 0px
		width 0px
		border-width 5px
	}
	75%{
		border-radius(0px 25px 0px 0px)
		height 0px
		width 110px 
	}
	100%{
		border-radius(0px 25px 0px 0px)
		height 100px
		width 110px
	}

}


@keyframes _connectckeck{
	0%{
		width 0px
	}
	100%{
		width 190px
	}

}