.box-friend
	border 1px rgb(223, 223, 223) solid
	background purple
	margin-left 5%
	width 700px

	.fr_name
		display block
		color white
		font-family baseFontLight
		font-size 22px
		margin-top 3px
	.fr
		display block
		color white
		font-size 17px
		font-family baseFontLight

.fr_user_img
	width 150px
	height 150px

.field
	display inline
	float left
	color white

.likes_groups
	display block
	margin-left 40px

