.box-bottom
	border 1px rgb(223, 223, 223) solid
	background green
	margin-left 5%
	width 700px

	.tw_from
		display block
		color white
		font-family baseFontLight
		font-size 22px
		margin-top 3px
	.tw_content
		display block
		color white
		font-size 17px
		font-family baseFontLight

.tw_user_img
	width 150px
	height 150px

.overflow
	overflow auto
	height 520px

.retweet_no
	display block
	color white
	font-size 22px
	margin-top 3px

#retw_count
	color white
	font-size 17px
	text-align center
	margin-top 2px