
ul.actionlist
	margin 0
	li.action
		padding 12px 10px 8px 0px
		font-family baseFontLight
		font-size 18px
		color #888
		background-color #FFF
		i
			background-color inherit
			padding 10px
			color #888
		span.name
			margin-left 10px

	li.action.done
		background-color _green
		color #FFF
		width 92%
		i
			color #FFF
	li.action.waiting
		background-color _blue
		color #FFF
		width 92%
		i
			color #FFF
